* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100vw; 
  height: 100vh;
  background-color: #FFF5E5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* block size */
.w {width: 10rem; height: 10rem;}
.w-25vw{width:25vw;}
.w-30vw{width:30vw;}
.w-34vw{width:34vw;}
.w-50vw{width:50vw;}
.w-70vw{width:70vw;}
.h-10vh{height:10vh;}
.h-18vh{height:18vh;}
.h-25vh{height:25vh;}
.h-50vh{height:50vh;}
.h-60vh{height:60vh;}
.border-rad-20px{border-radius: 20px;}


/* color */
.bgc-w{background-color: white;}
.bgc-g{background-color: grey;}
.bgc-D9{background-color: #D9D9D9;}
.c {background-color: #EFEFEF;}

/* positon && display */
.display-f{display: flex;}
.flex-wrap{flex-wrap: wrap;}
.align-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-around{justify-content: space-around;}
.list-inside {list-style-position: inside;}

/* fonts */
.fs-4em {font-size: 4em;}