* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100vw; 
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
}

/* block size */
.w {width: 10rem; height: 10rem;}
.w-10vw{width:10vw;}
.w-15vw{width:15vw}
.w-20vw{width:20vw;}
.w-25vw{width:25vw;}
.w-30vw{width:30vw;}
.w-34vw{width:34vw;}
.w-50vw{width:50vw;}
.w-70vw{width:70vw;}
.h-5vh{height:5vh;}
.h-10vh{height:10vh;}
.h-18vh{height:18vh;}
.h-25vh{height:25vh;}
.h-50vh{height:50vh;}
.h-60vh{height:60vh;}
.h-80vh{height:80vh;}
.h-100vh{height:100vh;}
.border-rad-20px{border-radius: 20px;}
.m-5vw{margin: 5vw;}


/* color */
.bgc-w{background-color: white;}
.bgc-lightgray{background-color: lightgray;}
.bgc-D9{background-color: #D9D9D9;}
.c {background-color: #EFEFEF;}

/* positon && display */
.display-f{display: flex;}
.flex-column{flex-direction: column;}
.flex-wrap{flex-wrap: wrap;}
.align-center{align-items: center;}
.align-around{align-content: space-around;}
.justify-center{justify-content: center;}
.justify-around{justify-content: space-around;}
.list-inside {list-style-position: inside;}
.border{border: 2px solid black;}

/* fonts */
.fs-4em {font-size: 4em;}

/* cursor */
.cursor {cursor:pointer;}